<!-- left-panel.ejs -->
<% 
    const keys = Object.keys(criteria); 
    const showResetAllLink = (keys.length > 0 || searchTerms != "") ? "reveal-element":"hide-element"; 
%> 

<h2 id="filters-header" class="header-container">
    <span class="left-text">Filter By:</span>
    <a href="#" id="reset-all-link" class="<%= showResetAllLink %>" onclick="submitFilters(true, event)">reset all</a>
</h2>
<% if (searchTerms != "" ) { %>
    <div id="search-terms" style="display: flex;">
        <h3>Search:  <%= searchTerms %></h3>
        <div id="clear-search" onclick="clearSearch()">x</div> <!-- can be changed to a span? -->
    </div>
<% } %> 
<% for (let i = 0; i < filters.length; i++) { 
    const filter = filters[i];
    const category = Object.keys(filter)[0];
    const options = filter[category];
    const isCollapsed = expanded[i] ? "":"collapsed";
    const showResetLink = selected[i] ? "reveal-element":"hide-element";
    const checkedBoxes = criteria[category]; %>
    <div class="filter-field enable-reset <%= isCollapsed %>" category="<%= category %>">
        <div class="subheading-container" onclick="collapseFilter(event)">
            <h3 class="filter-category"><%= category %></h3>
            <a href="#" class="reset-link <%= showResetLink %>" onclick="handleReset(event)">(reset)</a>
            <div class="chevron">&lt;</div>
        </div>
        <form class="checkboxForm">
            <% for (option of options) { 
                const isChecked = (Array.isArray(checkedBoxes) && checkedBoxes.includes(option)) ? "checked=true":"";
                const label = (option == "") ? "Not Specified" : option; %>
                <label><input type="checkbox" class="checkbox" <%- isChecked %> name="<%= label %>" value="<%= label %>" onchange="submitFilters()"><%= label %></label>
            <% } %> 
        </form>
    </div>
<% } %>