
<!-- main.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLE Resource Binder</title>
    <base target="_top">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/styles.css" type="text/css">
</head>
<body>
  <div class="container">
    <div class="header-links">
      <a href="#" id="login-link" onclick="login(event)">Login</a>
      <span>&nbsp;|&nbsp;</span>
      <a href="#" id="suggest-new-link" onclick="event.preventDefault(); $('#suggestion-modal').fadeIn(300)">Suggest New Resource</a>
    </div>
    <div class="title-container">
      <h1>CLE Resource Binder</h1>
      <div class="search-box">
        <input type="text" id="search-input" onkeydown="if (event.key === 'Enter') submitSearch()" placeholder="Search...">
        <button id="search-button" onclick="submitSearch()">Search</button>
      </div>
    </div>

    <div class="body-container">
        <div id="left-panel" class="enable-reset">
          <h2 id="filters-header" class="header-container">
            <span class="left-text">Filter By:</span>
            <a href="#" id="reset-all-link" class="hidden" onclick="handleReset(event, true)">reset all</a>
          </h2>
          <div id="search-terms-display" class="hidden">
            <h3>Search By:&nbsp;</h3><h3 id="search-terms" class="left-text"></h3>
            <span id="clear-search" onclick="clearSearch()">x</span> 
          </div>
          <%- filtersHtml %>
        </div>
        <div id="right-panel">
          <h2 id="results-top-label" class="header-container">
            <span>Showing Results&nbsp;</span>
            <span id="results-start"><%= start %></span>
            <span>&nbsp;-&nbsp;</span>
            <span id="results-end"><%= end %></span>
            <span>&nbsp;of&nbsp;</span>
            <span id="results-count" class="left-text"><%= count %></span>
            <a class="previous-link no-wrap hidden" href="#" onclick="changePage(event, false)">&lt; previous</a>
            <a class="next-link no-wrap" href="#" onclick="changePage(event, true)">next &gt;</a>
          </h2>
          <div id="search-results">
            <%- resultsHtml %>
          </div>
          <p id="results-bottom-label"><a class="previous-link no-wrap hidden" href="#" onclick="changePage(event, false)">&lt; previous</a>Showing Results <%= start %> - <%= end %> of <%= count %><a class="next-link no-wrap>" href="#" onclick="changePage(event, true)">next &gt;</a> </p>
        </div>
    </div>
  </div>
  <div id="update-modal" class="overlay">
    <div class="modal">
      <h2>Request Update/Correction</h2>
      <p id="update-title" class="form-description">Resource Info</p>
      <p class="form-label">Please describe what needs to be updated or corrected.</p>
      <textarea id="update-text" style="height:100px" maxlength="300"></textarea>
      <div class="buttons">
          <button type="button" class="btn btn-cancel" onclick="$('#update-modal').fadeOut(300)">Cancel</button>
          <button type="button" class="btn btn-submit" onclick="suggestUpdate()">Submit</button>
      </div>
    </div>
  </div>
  <div id="suggestion-modal" class="overlay">
    <div class="modal">
      <h2>Suggest a New Resource for CLE</h2>
      <p class="form-description">Submit suggestions here, and your suggestion will be reviewed for addition by the system administrator.</p>
      <p class="form-label">What is the name of the resource?</p>
      <textarea type="text" style="height:25px" id="suggestion-title" maxlength="100"></textarea>
      <p class="form-label">What county or counties does it serve?</p>
      <textarea type="text" style="height:25px" id="suggestion-county" maxlength="100"></textarea>
      <p class="form-label">Briefly describe what services or information are provided there.</p>
      <textarea type="text" style="height:100px" id="suggestion-description" maxlength="500"></textarea>
      <p class="form-label">List the website, phone, and/or address. Please make a note if there are multiple locations.</p>
      <textarea type="text" style="height:60px" id="suggestion-contact" maxlength="300"></textarea>
      <div class="buttons">
          <button type="button" class="btn btn-cancel" onclick="$('#suggestion-modal').fadeOut(300)">Cancel</button>
          <button type="button" class="btn btn-submit" onclick="suggestNewResource()">Submit</button>
      </div>
    </div>
  </div>
</body>
<script src="js/scripts.js"></script>
</html>