
<% const dispPrevLink = (pageIndex == 0) ? 'style="display:none"':'';
const dispNextLink = (pageIndex == maxPageIndex) ? 'style="display:none"':''; %>

<h2 id="results-top-label" class="header-container">
    <span class="left-text">Showing Results <%= resultsStart %> - <%= resultsEnd %> of <%= resultsCount %></span>
    <a class="previous-link" href="#" <%- dispPrevLink %> onclick="changePage(event, false)">&lt; previous</a>
    <a class="next-link" href="#" <%- dispNextLink %> onclick="changePage(event, true)">next &gt;</a>
</h2>
<div id="search-results">
    <% for (resultItem of displayedResults) { 
        const regionTag = (resultItem["City"] == "") ? resultItem["County"] : resultItem["County"] + " - " + resultItem["City"]; %>
    <div class="result-item">
        <div class="subtitles-container">
            <p><%= regionTag %></p>
            <p><%= resultItem["Resource Type"] %></p>
        </div>
        <h3 class="resource-title editable"><%= resultItem["Title"] %></h3>
        <p class="resource-description editable"><%= resultItem["Description"] %></p>
        <div class="contact-details-container">
            <% for (let i = 1; i < 7; i++) { %>
                <% if ( resultItem["Label"+i] != "") { %>
                    <h4 class="editable"><% resultItem["Label"+i] %></h4>
                <% } %>
                <% if ( resultItem["Phone"+i] != "") { %>
                    <div class="contact-item-inline">
                        <img src="assets/phone.svg" alt="SVG Image">
                        <p class="editable"><%= resultItem["Phone"+i] %></p>
                    </div>
                <% } %>
                <% if ( resultItem["Address"+i] != "") { %>
                    <div class="contact-item-inline">
                        <img src="assets/pin.svg" alt="SVG Image">
                        <p class="editable"><%= resultItem["Address"+i] %></p>
                    </div>
                <% } %>
                <% if ( resultItem["Website"+i] != "") { %>
                    <div class="contact-item-inline">
                        <img src="assets/globe.svg" alt="SVG Image">
                        <a href="<%= resultItem['Website'+i] %>" target="_blank" class="editable"><%= resultItem["Website"+i] %></a>
                    </div>
                <% } %>
            <% } %>
        </div>
        <a class="update-link" href="#" onclick="return openUpdateModal('<%= resultItem[`Title`] %>')">report incorrect</a>
    </div>
    <% } %>
</div>
<p id="results-bottom-label"><a class="previous-link" href="#" <%- dispPrevLink %> onclick="changePage(event, false)">&lt; previous</a>Showing Results <%= resultsStart %> - <%= resultsEnd %> of <%= resultsCount %><a class="next-link" href="#" <%- dispNextLink %> onclick="changePage(event, false)">next &gt;</a> </p>
